.App {
  margin: 50px 30;
  padding: 25px 15px;
  border: 2px solid black;
}
.container {
  display: flex;
  flex-direction: column;
}
.container ul li {
  width: 180px;
  overflow-wrap: break-word;
  list-style-type: "👉";
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
